__pycache__/
.idea/
input_handler/__pycache__/
custom_transformers/__pycache__/
custom_transformers/results/
utilty/results/
llm/__pycache__/
translation/__pycache__/
tests/__pycache__/
# Ignore PyTorch model files
*.pt
*.pth
*.safetensors
optuna_loggings
optuna_results
